.env
__pycache__/
*.pyc
.DS_Store
checkin/*.aux
checkin/*.log
checkin/*.bbl
checkin/*.blg
checkin/*.fdb_latexmk
checkin/*.fls
checkin/*.out
final_report/*.aux
final_report/*.log
final_report/*.bbl
final_report/*.blg
final_report/*.fdb_latexmk
final_report/*.fls
final_report/*.out
final_report/slides/*.aux
final_report/slides/*.log
final_report/slides/*.nav
final_report/slides/*.snm
final_report/slides/*.toc
final_report/slides/*.vrb
final_report/slides/*.fdb_latexmk
final_report/slides/*.fls
final_report/slides/*.out
todo/
